:root{
/*Aqui van les variables*/
}
*{
/*Aqui va el reset*/
margin:0;
padding:0;
border:none;
box-sizing: border-box;
text-decoration: none;
outline: none;
font-family: 'Times New Roman', Times, serif;
}
html{
   font-size:62.5% ; 
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: pink;
    color: maroon;
}
header{
   padding-top: 20px;
   position: fixed;
   top:0;
   left: 0;
   width: 100%;
   padding:1rem 9%;
   background-color: transparent;
   filter: drop-shadow(10px);
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100; 
    background: pink;
    border-bottom: 1.5px solid hotpink;
}
.logo{
   font-size:3rem;
   color:white;
   font-weight: 800;
   cursor: pointer;
   transition: 0.5s ease; 
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition:0.3s ease;
    border-bottom: 2px solid transparent;
}
nav a:hover, nav a.active{
    color: hotpink;
    border-bottom: 3px solid hotpink;

}
h2{
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: white;
    text-align: center;
}
li{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: white;
    margin: 1rem;
    float: left;
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:helvetica;
    line-height: 10rem;
    font-size: 1.8rem;
    text-decoration: none;
    color: maroon;
}
ul{
    width: 36rem;
    margin: auto;
}
li:hover{
    background:hotpink;
    color: white;
    box-shadow: 0 0 25px hotpink;
}
@font-face{
/*Aqui va les tipos*/
}
li a:hover{
    color: white;
}
li a{
    color: maroon;
}
li a:visited{
    color:violet;
}
li a:visited:hover{
    color:white;
}

/*Aqui van propietats responsives*/
@media(max-width:995px){/*Aqui va la versio movil*/
    nav{
        position: absolute;
        top:100%;
        right: 0;
        width: 40%;
        border-left: 2px solid hotpink;
        border-bottom: 2px solid hotpink;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: pink;
        border-top: 0.1rem solid hotpink;
    }
    nav.active{
       display:block; 
    }
    nav a{
        display:block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    nav a:hover, nav a.active{
        padding:1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid hotpink;
    }
}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: pink;
}
.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home .home-content h3{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: white;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    width: 32vw;
    box-shadow:0 0 25px solid hotpink;
    cursor: pointer;
    transition: 0.2s linear;
}
span{
    color: hotpink;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
    transform: scale(1.1);
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid hotpink;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: hotpink;
}
.social-icons a:hover{
    color: white;
    transform: scale(1.3) translateY(-5px);
    background-color: hotpink;
    box-shadow:0 0 25px hotpink;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: pink;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: hotpink;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid hotpink;
    transition: 0.3s ease;
    cursor:pointer;
}
.btn:hover{
    transform: scale3d(1.03);
    background-color: hotpink;
    color: white;
    box-shadow: 0 0 25px hotpink;
}
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;  
}
.typing-text span{
    position:relative;

}
.typing-text span::before{
    content:" Graphic Designer";
    color: maroon;
    animation:words 20s infinite;
}
.typing-text span::after{
    content:"";
    background-color: pink;
    position:absolute;
    width: calc(100%+8px);
    height: 100%;
    border-left: 3px solid pink;
    right:-8;
    animation:cursor 0.6s infinite;
}
@keyframes cursor{
    to{
        border-left:3px solid hotpink ;
    }   
}
@keyframes words{
  0%, 20% {
  content:" Branding Designer"; 
  }

21%, 40%{
      content:" Web Designer"; 
}
41%, 60%{
      content:" UI/UX Designer"; 
}
61%, 80%{
    content:"n Illustrator";
}
81%, 100%{
    content:" Multimedia Designer";
}
}

@media (max-width:1000px){
.home{
    gap:4rem;
    }
}


@media (max-width: 995px)  {
   .home{
    flex-direction: column;
    margin: 5rem 4rem;
   } 
   .home .home-content h3{
    font-size: 2.5rem;
   }
   .home-content h1{
    font-size: 5rem;
   } 
   .home-img img{
    width: 20vh;
    margin-top: -11rem;
    margin-left: -15rem;
   }
}
