body{
    margin: 0;
}
h1{
    color: palevioletred;
    text-align: center;
    text-shadow: 2px 2px 2px maroon;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.contenidor{
    width: 1280px;
    margin: auto;
}
.cap{
    color: pink;
    height: 120px;
}
.cos{
    font-family: monospace
    
}
.peu{
    height: 300px;
}
li{
    height: 50px; 
    width: 180px;
    margin: 10px;
    float: left;
}
.esquerra, .centre, .dreta{
    width: 20%;
    float: left;
}
.esquerra{
    background-color: pink;
    
}
.centre{
    background-color: maroon;
    color: white;
    width: 60%;
    overflow: scroll;
        height: 600px;

}
.dreta{
    background-color: pink;
}
p{
    text-indent: 50px;
}
a{
    color: white;
}